/* Full-page background + hero */

.home {
    background-color: #020305;
    background-image: url('/home.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    position: relative;
    height: 700px;
    background-position-y: 0px;
}


/* Fonts for the hero text */
.bbh-sans-bartle-regular {
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Title top of page */
.top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    font-size: 40px;
    color: white;
    margin-bottom: 150px;
}

.image {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}

/* Blinking cursor animation */
.cursor {
    display: inline-block;
    width: 0.6ch;
    animation: blink 1s steps(1, start) infinite;
}

@keyframes blink {

    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

/* Keep the name line readable on phones */
.top.bbh-sans-bartle-regular,
.top .bbh-sans-bartle-regular,
.top>div,
.newest-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 480px) {
    .top {
        padding-top: 110px;
    }

    .top.bbh-sans-bartle-regular,
    .top .bbh-sans-bartle-regular,
    .top>div {
        font-size: 22px;
        line-height: 1.1;
    }

    .newest-label {
        font-size: 0.95rem;
    }
}